// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px
);
$bv-enable-table-stacked: false;
$enable-responsive-font-sizes: true;

// $main-color: orange;
$main-color: #343a40;
// $secondary-color:#7a8793;
$secondary-color:#ffd301;
$third-color: #2b486a;
$fourth-color: #438A59;
$text-color: black;
$multiverse-color: #0081A1;

$theme-colors: (
  "main-color": $main-color,
  "secondary-color": $secondary-color,
  "third-color": $third-color,
  "fourth-color": $fourth-color,
  "multiverse-color": $multiverse-color
);


// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';



